<div nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
   <div class="container main">
    <div class="login-form-main">
     <div nz-row>
 
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="left-side">
       <div class="left-side1">
        <p class="welcome-text">Welcome to Nexfolio!</p>
        <p class="copy-text"><span>&#169; </span>2021 Nexfolio. 
         All rights reserved.</p>
       </div>
      </div>
 
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
       <div class="login-details">
       <div class="img-banner">
        <img src="../../../../assets/img/logo.png" height="60px">
        <p class="logo-font">Login to your account</p>
       </div>
 
       <form nz-form class="login-form" [formGroup]="signinForm">
        <nz-form-item class="form-item">
         <nz-form-control [nzErrorTip]="emailErrorTpl">
          <nz-form-label class="auth-label">Email Address</nz-form-label>
            <nz-input-group>
              <input type="text" class="input-box" nz-input formControlName="email"/>
            </nz-input-group>
            <ng-template #emailErrorTpl let-control>
             <ng-container *ngIf="control.hasError('required')">
                Please enter your email
             </ng-container>
         </ng-template>
       </nz-form-control>
       </nz-form-item>
        <nz-form-item class="form-item">
          <nz-form-control [nzErrorTip]="passwordErrorTpl">
            <nz-form-label class="auth-label">Password</nz-form-label>
          <nz-input-group>
              <input type="password" class="input-box" nz-input formControlName="password"/>
            </nz-input-group>
            <ng-template #passwordErrorTpl let-control>
             <ng-container *ngIf="control.hasError('required')">
                Please enter your password
             </ng-container>
              </ng-template>
            </nz-form-control>
        </nz-form-item>
 
         <div class="button-login">
          <div class="last-space">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
            <a routerLink="/auth/forgotpassword" class="login-form-forgot">Forgot password?</a>
           </div>
         <button nz-button class="login-form-button" [nzLoading]="isLoading" [disabled]="signinForm.invalid" (click)="login()"><span class="btn-text">Log in</span></button>
        </div>
      </form>
     </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

 <nz-modal [(nzVisible)]="isVisible3" (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter"
  [nzBodyStyle]="{ 'padding-right':'0px' , 'padding-left':'0px' }">
  <ng-container>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <form nz-form class="main-form" [formGroup]="g2FaForm">
          <nz-form-item class="form-elements">
           <nz-form-control>
              <label class="form-label">Enter Your G2fa Code</label>
              <input nz-input name="password" type="text" id="email9" formControlName="otp">
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <div class="modal-footer-upd">
      <button nz-button class="foot-confirm" (click)="handleOk()" [nzLoading]="isLoginLoad">Submit</button>
      <button nz-button class="foot-cancel" (click)="handleCancel()">Cancel</button>
    </div>
  </ng-template>
</nz-modal>