<div nz-row>
 <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
  <div class="container main">
   <div class="login-form-main">
    <div nz-row>

     <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="left-side">
      <div class="left-side1">
       <p class="welcome-text">Welcome to Nexfolio!</p>
       <p class="copy-text"><span>&#169; </span>2021 Nexfolio. 
        All rights reserved.</p>
      </div>
     </div>

     <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <div class="login-details">
      <div class="img-banner">
       <img src="../../../../assets/img/logo.png" height="60px">
       <p class="logo-font">Forget Password</p>
      </div>

      <form nz-form class="login-form">
       <nz-form-item class="form-item">
        <label class="auth-label">Email Address</label>
           <nz-input-group>
             <input type="text" class="input-box" nz-input formControlName="userName"/>
           </nz-input-group>
        </nz-form-item>

        <div class="button-login">
         <div class="float-space">
          <span>Already having an account?</span>
           <a routerLink="/auth/login" class="login-form-forgot"> Sign In</a>
          </div>
        <button nz-button class="login-form-button"><span class="btn-text">Send recovery link</span></button>
       </div>
     </form>
    </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
