$main-color:#00bcc7;
$main-color1:#ffffff;

.main{
 height: 100vh;
 display: flex;
 align-items: center;
 .login-form-main{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 8px 24px -4px rgb(1 1 1 / 15%);
    background: #fff;
    .left-side{
     background-color: $main-color;
     .left-side1{
      padding: 155px 30px 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .welcome-text{
       color:$main-color1;
       font-size:20px;
       font-weight: 500;
       margin-bottom: 10px;
       font-family: "OpenSans-SemiBold";
      }
      .copy-text{
       font-size: 14px;
       color:$main-color1;
       font-family: "GoogleSans-Regular";
      }
     }
    }
    .login-details{
     padding: 25px;
     .img-banner{
      text-align: center;
      line-height: 65px;
      .logo-font{
       font-weight: 500;
       font-size: 18px;
       font-family: "OpenSans-SemiBold";
      }
     }
     .login-form{
      .form-item{
       margin-bottom: 18px;
       .auth-label{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0.5rem;
        font-family: "OpenSans-SemiBold";
       }
       .input-box{
        height: 40px;
        border-radius: 5px;
       }
      }
      .button-login{
       line-height: 50px;
       .float-space{
         float: right;
        .login-form-forgot{
         color: $main-color;
         font-family: "OpenSans-SemiBold";
        }
       }
       .login-form-button{
        width: 100%;
        height: 40px;
        background-color: $main-color;
        border-radius: 5px;
        border: none;
        .btn-text{
         color: $main-color1;
         font-size: 16px;
         font-weight: 500;
         text-transform: uppercase;
         font-family: "OpenSans-SemiBold";
        }
       }
      }
     }
    }
  }
}