@font-face {
    font-family: "GoogleSans-Regular";
    src:url("https://admin-nexfolio.nextazy.com/assets/font/GoogleSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "GoogleSans-Light";
    src:url("https://admin-nexfolio.nextazy.com/assets/font/GoogleSans-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "GoogleSans-Bold";
    src:url("https://admin-nexfolio.nextazy.com/assets/font/GoogleSans-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "OpenSans-SemiBold";
    src:url("https://admin-nexfolio.nextazy.com/assets/font/OpenSans-SemiBold.ttf") format("truetype");
  }